{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Chat Room</title>
  <!-- CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
</head>
<body>
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card" id="chat2">
          <!-- 방 이름 -->
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h3 id="roomName" class="mb-0">{{ room_name }}</h3>
            <button type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark" onclick="exitRoom()">
              <b style="font-size: 15px;">나가기</b>
            </button>
          </div>
          <!-- 메시지 내용 -->
          <div class="card-body overflow-auto" data-mdb-perfect-scrollbar="true"
               style="position: relative; height: 500px; display: flex; flex-direction: column-reverse">
            <div class="flex-row pt-1">
              <div class="justify-content-end flex-row messages">

              </div>
            </div>
          </div>
          <!-- 메시지 입력란 -->
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <label for="messageInput"></label>
            <input type="text" class="form-control form-control-lg" id="messageInput"
                   placeholder="메시지를 입력해 주세요">
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"
                    style="padding: 10.86px; margin-left: 4px" onclick="sendMessage()" onsubmit="return false">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<label for="nickname"></label>
<input type="text" id="nickname" autocomplete="off" value="{{ nickname|default_if_none:'' }}" hidden disabled>
<label for="roomCode"></label>
<input type="text" id="roomCode" autocomplete="off" value="{{ room_code|default_if_none:'' }}" hidden disabled>
</body>
<!-- javascript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
<script type="text/javascript">
    const socket = io.connect('http://' + document.domain + ':' + location.port);
    const nickname = document.getElementById('nickname');
    const roomCode = document.getElementById('roomCode');

    $(document).ready(function () {
        console.log('http://' + document.domain + ':' + location.port)
        socket.on('connect', function () {
            console.log(socket.connected);
            if (!(nickname.value && roomCode.value)) {
                alert('이름과 방 설정을 먼저 진행해 주세요.');
                window.location.href = '/';
            } else {
                socket.emit(
                    'join', {
                        'nickname': nickname.value,
                        'roomCode': roomCode.value
                    });
                socket.emit('message', {'message': 'CONNECT', 'nickname': nickname.value, 'roomCode': roomCode.value});
            }
        });
        socket.on('disconnect', function () {
            console.log(socket.connected);
            socket.emit('message', {'message': 'DISCONNECT', 'nickname': nickname.value, 'roomCode': roomCode.value});
        });
        socket.on('message', function (msg) {
            const messageBlock = $('.messages');
            if (msg.type === 'normal') {
                messageBlock.append(
                    '<p class="small p-2 mb-1 rounded-3" style="background-color: #f5f6f7;"><b>' + msg.nickname + '</b> >> ' + msg.message + '</p>'
                );
            } else {
                messageBlock.append(
                    '<p class="small p-2 mb-1 rounded-3" style="background-color: #1a73e8; color: white"><b>' + msg.message + '</b></p>'
                );
            }
            console.log('Received Message: ' + msg.message + ', ' + msg.type)
        });
    });
    $("#messageInput").keypress(function (e) {
        if (e.keyCode === 13) {
            sendMessage()
        }
    });

    function sendMessage() {
        let inputMessage = $('#messageInput');
        if (inputMessage.val().replace(/^\s+|\s+$/g, '') !== '') {
            socket.emit('message', {
                'message': inputMessage.val(),
                'nickname': nickname.value,
                'roomCode': document.getElementById('roomCode').value
            });
            inputMessage.val('');
        }
    }

    function exitRoom() {
        if (confirm("방을 나가시겠습니까?") === true) {
            socket.emit('message', {'message': 'DISCONNECT', 'nickname': nickname.value, 'roomCode': roomCode.value});
            window.location.href = "/";
        }
    }
</script>
</html>